name: Build & Push Android Build Image to Alibaba Cloud ACR (Personal)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Alibaba Cloud ACR (Personal Edition)
        uses: docker/login-action@v3
        with:
          registry: crpi-ggljmhwb6ism9yo5.cn-beijing.personal.cr.aliyuncs.com
          username: ${{ secrets.ALIYUN_USERNAME }}
          password: ${{ secrets.ALIYUN_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            crpi-ggljmhwb6ism9yo5.cn-beijing.personal.cr.aliyuncs.com/mankin/android-build:36
            crpi-ggljmhwb6ism9yo5.cn-beijing.personal.cr.aliyuncs.com/mankin/android-build:latest
